html{
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
}
body{
    margin:0;
    width:100%;
    height:100%;
    background-color:#f2f2f2

}
.a{
    background-color:#eee !important;
}
input,button,select,textarea{outline:none;-webkit-appearance:none;}
#main{
	font-size: 14px;
}
.red{
	color:red;
}
.header{
	height:60px;
	padding:10px 0;
	background-color:#fff;
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;  
}
.header .left{
    text-align: center;
    border-right: 1px solid #eee;
    width: 100px;
}
.header .left .s1{
	line-height: 40px;
	font-size: 30px;
	color:#ff9e14;
}
.header .left .s2{
	color:#999;
}
.header .right{
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.header .right .s1{
	line-height: 30px;
	height: 30px;
	margin-left: 20px;
}
.header .right .s1 span{
	float:left;
}
.header .right .s1 .sd_wxingji{
	float:left;
}
.header .right .s2{
	line-height: 30px;
	height: 30px;
	margin-left: 20px;
}
.header .right .s2 span{
	float:left;
}
		.sd_wxingji{
            position: relative;
            width: 60px;
            height: 17px;
            float:left;
            margin:7px 5px 0 5px;
        }
        .sd_xingji{
            position: absolute;
            z-index: 1;
            height: 17px;
            width: 60px;
            background-image: url('../image/xing_huang.png');
            background-repeat: no-repeat;
            background-size: 60px 10px;
            background-position: 0 3px;
        }
        .sd_wxingji .x0{
            width: 0px !important;
        }
        .sd_wxingji .x05{
            width: 6px !important;
        }
        .sd_wxingji .x1{
            width: 12px !important;
        }
        .sd_wxingji .x15{
            width: 18px !important;
        }
        .sd_wxingji .x2{
            width: 24px !important;
        }
        .sd_wxingji .x25{
            width: 30px !important;
        }
        .sd_wxingji .x3{
            width: 36px !important;
        }
        .sd_wxingji .x35{
            width: 42px !important;
        }
        .sd_wxingji .x4{
            width: 48px !important;
        }
        .sd_wxingji .x45{
            width: 54px !important;
        }
        .sd_wxingji .x5{
            width: 60px !important;
        }
        .sd_wxingji .sd_xingji_di{
            position: absolute;
            z-index: 0;
            height: 17px;
            width: 60px;
            background-image: url('../image/xing_hui.png');
            background-repeat: no-repeat;
            background-size: 60px 10px;
            background-position: 0 3px;
        }

.min_header{
	background-color:#fff;
	border-bottom:1px solid #eee;
	margin-top: 10px;
	float:left;
	width: 100%;
}
.min_header div{
	height: 30px;
	line-height: 30px;
	margin:10px 0 10px 10px;
	float:left;
	border-radius: 15px;
	border:1px solid #ff9e14;
	font-size: 12px;
	padding:0 10px;
}
.tou_on{
	background-color:#ff9e14 !important;
	color:#fff !important;
}


.sd_huifu {
	width: 100%;
	float:left;
}
.sd_huifu ul {
	width: 100%;
}
.sd_huifu ul li {
	padding: 0 10px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.sd_huifu ul li .sd_info {
	height: 30px;
	line-height: 30px;
	position: relative;
}

.sd_huifu ul li .sd_info .sd_xingji {
	position: absolute;
	z-index: 1;
	height: 30px;
	width: 90px;
	background-image: url('../image/xing_huang.png');
	background-repeat: no-repeat;
	background-size: 90px 15px;
	background-position: 0 7px;
}
.sd_huifu ul li .sd_info .x0 {
	width: 0px !important;
}
.sd_huifu ul li .sd_info .x05{
	width: 9px !important;
}
.sd_huifu ul li .sd_info .x1 {
	width: 18px !important;
}
.sd_huifu ul li .sd_info .x15{
	width: 27px !important;
}
.sd_huifu ul li .sd_info .x2 {
	width: 36px !important;
}
.sd_huifu ul li .sd_info .x25{
	width: 45px !important;
}
.sd_huifu ul li .sd_info .x3 {
	width: 54px !important;
}
.sd_huifu ul li .sd_info .x35{
	width: 63px !important;
}
.sd_huifu ul li .sd_info .x4 {
	width: 72px !important;
}
.sd_huifu ul li .sd_info .x45{
	width: 81px !important;
}
.sd_huifu ul li .sd_info .x5 {
	width: 90px !important;
}
.sd_huifu ul li .sd_info .sd_xingji_di {
	position: absolute;
	z-index: 0;
	height: 30px;
	width: 90px;
	background-image: url('../image/xing_hui.png');
	background-repeat: no-repeat;
	background-size: 90px 15px;
	background-position: 0 7px;
}
.sd_huifu ul li .sd_info .sd_username {
	color: #999;
	float: left;
	font-size: 12px;
	width: 100px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}
.sd_huifu ul li .sd_info .sd_time {
	color: #999;
	float: right;
	font-size: 12px;
	margin-left: 10px;
}

.sd_huifu ul li .sd_nr {
	line-height: 30px;
}
.sd_huifu ul li .sd_img {

}
.sd_huifu ul li .sd_img img {
	width: 20%;
	/*width: 80px;
	 height: 80px;*/
	margin: 10px 10px 10px 0;
}
