html{
	height: 100%;
    width: 100%;
    background-color: #f2f2f2;
}
body{
	background-color: #f2f2f2;
    float:left;
    width: 100%;
}
.a{
            background-color:#eee !important;
        }  
input,button,select,textarea{outline:none;-webkit-appearance:none;}
#main{
	float:left;
	width: 100%;
    font-size: 14px;
    background-color: #f2f2f2;
}
#header{
	height: 50px;
	display: -webkit-box;
    display: -webkit-flex;
    display: flex; 
    text-align: center;
    background-color: #fff;
}
#h_l{
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    color:red;
}
#h_l div{
	height: 30px;
	line-height: 30px;
	margin-top:10px;
	border-right: 1px solid #eee;
}
#h_r{
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
#h_r div{
	height: 30px;
	line-height: 30px;
	margin-top:10px;
}
#content_l{

}
#content_r{
	display: none;
}
#content_r ul{

}
#content_r ul li{
	padding:10px 0;
	margin:0 10px;
	border-bottom:1px solid #ccc;
	display: -webkit-box;
            display: -webkit-flex;
            display: flex;  
}
#content_r ul li .title_l{
	color:#999;
	line-height: 30px;
	-webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
}
#content_r ul li .title_r{
	color: #666;
	line-height: 30px;
	margin-left: 10px;
	-webkit-box-flex: 4;
            -webkit-flex: 4;
            flex: 4;
}

