html{
	height: 100%;
    width: 100%;
    background-color: #f2f2f2;
    padding-bottom: 1px;
}
body{
	background-color: #f2f2f2;
    width: 100%;
}
input,button,select,textarea{outline:none;-webkit-appearance:none;}
#main{
	width: 100%;
	float: left;
	padding-bottom:50px;
}
.a{
    background-color:#ccc !important;
}
#main ul{
	float:left;
	width:100%;
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
#main ul li{
	background-color:#fff;
	padding:10px;
	border-bottom:1px solid #ccc;
	float:left;
	
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
#main ul li .header{
	height: 60px;
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
#main ul li .header .left{
	width: 70px;
}
#main ul li .header .left img{
	width: 60px;
	height: 60px;
	border-radius: 30px;
}
#main ul li .header .con{
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
#main ul li .header .con .user_name{
	font-size: 14px;
	line-height: 40px;
}
#main ul li .header .con .dengji{
	margin-left: 10px;
	border-radius: 2px;
	border:1px solid #d41c7a;
	color:#d41c7a;
	line-height: 15px;
	font-size: 13px;
	height: 15px;
	margin-top: 22px;
	padding:0 5px;
	min-width: 15px;
}
#main ul li .header .con .user_name .right{
	margin-left: 5px;
	height: 15px;
	line-height: 15px;
	font-size: 12px;
}
#main ul li .header .con .user_name .right .l1{
	background-color: #fd8226;
	border:1px solid #fd8226;
	padding:0 2px;
	color:#fff;
}
#main ul li .header .con .user_name .right .l2{
	background-color: #fff;
	border:1px solid #fd8226;
	color:#fd8226;
	padding:0 2px;
}
#main ul li .header .con .time{
	font-size: 13px;
	color:#999;
}
#main ul li .header .right{
	color:#999;
}
#main ul li .header .right .s1{
            padding-left: 21px;
            height: 35px;
            background-image: url('../image/pinglun_logo.png');
            background-repeat: no-repeat;
            background-size: 16px 16px;
            background-position: 0 6px;
            font-size: 12px;
            line-height: 30px;
            float:right;
        }
#main ul li .header .right .s2{
            padding-left: 21px;
            height: 35px;
            background-image: url('../image/xin_hui2.png');
            background-repeat: no-repeat;
            background-size: 16px 16px;
            background-position: 0 6px;
            font-size: 12px;
            line-height: 30px;
            float:right;
            margin-right: 10px;
        }
#main ul li .title{
	margin:20px 0 10px 0;
	font-size: 14px;
}
#main ul li .content{
	font-size: 13px;
	line-height: 16px;
	height: 48px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
#main ul li .content img{
	height:16px;
}
#main ul li .tu_list{
	/*display: -webkit-box;
    display: -webkit-flex;
    display: flex; */
    padding:5px 0;
    float:left;
}
#main ul li .tu_list img{
	width: 60px;
	height: 60px;
	float:left;
	margin:10px 10px 0 0;
}

#main .tishi{
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color:#666;
	padding:0 10px;
	display: -webkit-box;
    display: -webkit-flex;
    display: flex; 
	float:left;
}

#main .jd_user_list{
	float:left;
	width: 100%;
}
#main .jd_user_list .user_list{
	background-color: #fff;
	border-bottom:1px solid #e2e2e2;
	height: 60px;
	padding:10px 0px;
	display: -webkit-box;
    display: -webkit-flex;
    display: flex; 
}
#main .jd_user_list .user_list .xuan{
	width: 50px;
	height: 60px;
	background-image: url('../image/xuan_hui.png');
	background-repeat: no-repeat;
	background-size:20px 20px;
	background-position: 10px 20px;
}
#main .jd_user_list .user_list .xuan_on{
	background-image: url('../image/xuan_lan.png') !important;
}
#main .jd_user_list .user_list .user_img{
	height: 60px;
	width: 60px;
	border-radius: 30px;
	margin:0 10px 0 0;
	overflow: hidden;
}
#main .jd_user_list .user_list .user_img img{
	height: 60px;
	width: 60px;
}
#main .jd_user_list .user_list .right{
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-right: 10px;
}
#main .jd_user_list .user_list .right .user_name{
	line-height: 40px;
}
#main .jd_user_list .user_list .right .con{
	color:#999;
	font-size: 12px;
}
#main .jd_user_list .user_list .right .con img{
	height:12px;
}

#main .footer{
	position: fixed;
	left:0;
	bottom:0;
	width:100%;
	background-color:#fff;
	height: 50px;
	border-top:1px solid #e2e2e2;
}
#main .footer .go{
	height: 38px;
	line-height: 38px;
	width: 90%;
	margin:5px auto;
	border:1px solid #00b4ff;
	color:#00b4ff;
	text-align: center;
	font-size: 14px;
	border-radius: 5px;
}
#main .footer .go_on{
	background-color:#00b4ff !important;
	color:#fff !important;
}
#main .footer .no_go{
	height: 38px;
	line-height: 38px;
	width: 90%;
	margin:5px auto;
	border:1px solid #f2f2f2;
	background-color: #ccc;
	color:#666;
	text-align: center;
	font-size: 14px;
	border-radius: 5px;
	display:none;
}


