body {

}
.a{
    background-color:#eee !important;
}
/**********************************/
.neirong3{

        }
        .neirong3 .list{
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            padding:10px 0 0 0;
            border-bottom: 1px solid #eee;
        }
        .neirong3 .list .left{
            width: 50px;
            padding-left:5px;
        }
        .neirong3 .list .left span{
            color:#00b4ff;
            border:1px solid #00b4ff;
            padding:2px 5px;
            font-size: 12px;
            border-radius: 2px;
        }
        .neirong3 .list .right{
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            margin-right: 5px;
        }
        .neirong3 .list .right .title{
            font-size: 14px;
            line-height: 20px;
        }
        .neirong3 .list .right .content{
            font-size: 12px;
            color:#999;
            line-height: 16px;
            height: 30px;
            overflow: hidden;
            word-wrap:break-word;
        }
        .neirong3 .list .right .content img{
        	height:12px;
        }
        .neirong3 .list .right .min_di{

        }
        .neirong3 .list .right .min_di .s1{
            color:#ffb414;
            font-size: 11px;
            float:right;
            line-height: 35px;
        }
        .neirong3 .list .right .min_di .s2{
            float:right;
            font-size: 16px;
            line-height: 32px;
            margin-right: 10px;
        }
        .neirong3 .list .right .min_di .s3{
            float:right;
            color:#999;
            font-size: 11px;
            line-height: 35px;
        }
        .neirong3 .list2{
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            padding:10px 0 0 0;
            border-bottom: 1px solid #eee;
        }
        .neirong3 .list2 .left{
            width: 50px;
            padding-left:5px;
        }
        .neirong3 .list2 .left span{
            color:#ffb414;
            border:1px solid #ffb414;
            padding:2px 5px;
            font-size: 12px;
            border-radius: 2px;
        }
        .neirong3 .list2 .right{
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            margin-right: 5px;
        }
        .neirong3 .list2 .right .title{
            font-size: 14px;
            line-height: 20px;
        }
        .neirong3 .list2 .right .content{
            font-size: 12px;
            color:#999;
            line-height: 16px;
            height: 30px;
            overflow: hidden;
        }
        .neirong3 .list2 .right .content img{
        	height:12px;
        }
        .neirong3 .list2 .right .min_di{

        }
        .neirong3 .list2 .right .min_di .s1{
            padding-left: 17px;
            height: 35px;
            background-image: url('../image/pinglun_logo.png');
            background-repeat: no-repeat;
            background-size: 12px 12px;
            background-position: 0 11px;
            font-size: 12px;
            line-height: 35px;
            float:right;
        }
        .neirong3 .list2 .right .min_di .s2{
            padding-left: 17px;
            height: 35px;
            background-image: url('../image/xin_hui2.png');
            background-repeat: no-repeat;
            background-size: 12px 12px;
            background-position: 0 11px;
            font-size: 12px;
            line-height: 35px;
            float:right;
            margin-right: 10px;
        }
/**********************************/
.goods_list #content{
            width: 100%;
        }
        #content ul{
            width: 100%;
        }
        #content ul li{
            width: 100%;
            background-color: #fff;
            border-bottom: 1px solid #eee;
        }
        #content ul li .nei{
            display: -webkit-box;
            display: -webkit-flex;
            display: flex; 
        }
        #content ul li .di{
            margin-left: 80px;
            font-size: 12px;
            height: 30px;
            line-height: 30px;
        }
        #content ul li .di .list{
            display: -webkit-box;
            display: -webkit-flex;
            display: flex; 
        }
        #content ul li .di .bao{
            background-image: url('../image/bao.png');
            background-repeat: no-repeat;
            background-size:16px 16px;
            margin-right: 5px;
            margin-top:7px;
            width: 16px;
            height: 16px;
        }
        #content ul li .nei .left{
            width: 60px;
            height: 60px;
            margin:10px 10px 0 10px;
        }
        #content ul li .nei .left img{
            width: 60px;
            height: 60px;
        }
        #content ul li .nei .right{
            border-bottom: 1px solid #eee;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            margin:10px 10px 0 0;
        }
        #content ul li .nei .right .title{
            height: 26px;
            line-height: 26px;
        }
        #content ul li .nei .right .s1{
            font-size: 12px;
            height: 17px;
            line-height: 17px;
        }
        #content ul li .nei .right .s1 .s_l{
            float:left;
        }
        #content ul li .nei .right .s1 .s_r{
            float:right;
        }
        #content ul li .nei .right .s2{
            font-size: 12px;
            height: 17px;
            line-height: 17px;
        }
        #content ul li .nei .right .s2 .s_l{
            float:left;
            color:#666;
        }
        #content ul li .nei .right .s2 .s_r{
            float:right;
            color:#666;
        }
        #content ul li .di2{
        	min-height: 30px;
        	overflow: hidden;
        	display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            margin-bottom: 5px;
        }
        #content ul li .di2 .left{
			-webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
        }
        #content ul li .di2 .left span{
			font-size: 12px;
			border:1px solid #eee;
			border-radius: 30px;
			margin-left: 10px;
			margin-bottom:5px;
			padding:0 10px;
			height: 25px;
			line-height: 25px;
			max-width:60px;
			overflow: hidden;
			white-space:nowrap;
			text-overflow:ellipsis;
        }
        #content ul li .di2 .right{
			line-height: 30px;
			margin:0 10px;
			font-size: 14px;
        }
/**********************************/
		.red{
            color:red !important;
        }
        .sd_wxingji{
            position: relative;
            width: 60px;
            height: 17px;
            float:left;
            margin-right: 5px;
        }
        .sd_xingji{
            position: absolute;
            z-index: 1;
            height: 17px;
            width: 60px;
            background-image: url('../image/xing_huang.png');
            background-repeat: no-repeat;
            background-size: 60px 10px;
            background-position: 0 3px;
        }
        .sd_wxingji .x0{
            width: 0px !important;
        }
        .sd_wxingji .x05{
            width: 6px !important;
        }
        .sd_wxingji .x1{
            width: 12px !important;
        }
        .sd_wxingji .x15{
            width: 18px !important;
        }
        .sd_wxingji .x2{
            width: 24px !important;
        }
        .sd_wxingji .x25{
            width: 30px !important;
        }
        .sd_wxingji .x3{
            width: 36px !important;
        }
        .sd_wxingji .x35{
            width: 42px !important;
        }
        .sd_wxingji .x4{
            width: 48px !important;
        }
        .sd_wxingji .x45{
            width: 54px !important;
        }
        .sd_wxingji .x5{
            width: 60px !important;
        }
        .sd_wxingji .sd_xingji_di{
            position: absolute;
            z-index: 0;
            height: 17px;
            width: 60px;
            background-image: url('../image/xing_hui.png');
            background-repeat: no-repeat;
            background-size: 60px 10px;
            background-position: 0 3px;
        }
/**********************************/